In [1]:
#loading important libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#reading the time series data
trainingdata = pd.read_csv('AirPassengers.csv')

In [2]:
trainingdata.head(10)

  Year-Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
5    1949-06         135
6    1949-07         148
7    1949-08         148
8    1949-09         136
9    1949-10         119